  @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,800&display=swap');
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      max-width: 100%;
      font-family: 'Plus Jakarta Sans', sans-serif;
  }
  
  body {
      margin: 0;
      padding: 0;
      font-family: 'Plus Jakarta Sans', sans-serif;
      font: size 14px;
      line-height: 1.5rem;
      color: #fff;
  }
  /* universals */
  
  a {
      text-decoration: none;
      color: inherit;
      font-size: inherit;
  }
  
  .section-pi {
      padding: 80px 15px;
  }
  
  .section-m-p1 {
      padding: 0 30px;
      margin: 30px 0;
  }
  
  .normal-btn {
      padding: 0 20px;
      margin-left: 15px;
  }
  
  .top-nav {
      display: flex;
      padding: 0 30px;
      width: 100%;
      margin: 0 25px;
      align-items: center;
      justify-content: space-between;
  }
  /* univesal others */
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      color: #fff;
      font-family: 'Plus Jakarta Sans', sans-serif;
      fill: #fff;
      line-height: 2.5rem;
  }
  
  .trending-btn {
      color: hsla(0, 0%, 100%, .7);
      display: inline-block;
      border: none;
      cursor: pointer;
  }
  
  #listings {
      display: flex;
      gap: 29px;
      padding: 18px;
      list-style: none;
      font-size: 1rem;
      font-weight: 600;
      color: #fff;
      fill: #fff;
  }
  
  .input-selector::placeholder {
      font-size: 18px;
      font-weight: 600;
  }
  
  .SearchInput_input__UT7ss {
      left: 0;
      display: inline-flex;
      width: calc(100% - 55px);
      padding: 15px 4px 15px 20px;
      color: #7f7f7f;
      border-radius: 0;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
  }
  
  .input-search-btn {
      padding: 1px 15px;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      font-size: 14px;
      top: 0;
      bottom: 0;
      height: 100%;
      border: 1px solid #f7f7f7;
      background: #f7f7f7;
  }
  /* Landing Page */
  
  header {
      height: 80vh;
  }
  
  .upper-bar {
      display: flex;
  }
  
  .upper-bar img {
      width: 50px;
      height: 50px;
  }
  
  .upper-bar span {
      padding: 12px;
      font-size: 1.5rem;
      font-weight: 500;
      font-family: inherit;
  }
  
  .background-img {
      background-image: url(asserts/img/bg1.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
  }
  
  .listing-upper {
      height: 15vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  /* background opacity black */
  
  .bgcolor {
      background-color: #000;
      height: 80vh;
      position: absolute;
      top: 0;
  }
  /* search properties */
  
  .p-classes-search-input {
      text-align: left;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .centered {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 600px;
      max-width: 630px;
  }
  
  .p-classes-search-input h1 {
      font-size: 1.9rem;
      font-weight: 800;
      line-height: 2.8rem;
  }
  
  .p-classes-search-input form {
      margin-top: 30px;
      width: 100%;
  }
  
  .input-selector {
      padding: 15px 4px 15px 20px;
      border: none;
      outline: none;
      left: 0;
      display: inline-flex;
      width: calc(100% - 55px);
      color: #7f7f7f;
      border-radius: 0;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
  }
  
  .p-classes-search-input .centered form button {
      padding: 12px 25px;
      margin-top: 22px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      border-radius: 8px;
      font-size: 14px;
      border: 1px solid #f7f7f7;
      background: #f7f7f7;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
  }
  
  .p-classes-search-input .centered form button:hover {
      background-color: #161618;
      border: 1px solid #161618;
      color: #fff;
  }
  
  .trending {
      width: 100%;
      padding: 6px;
      text-align: left;
  }
  
  .alpah-span {
      color: rgba(255, 255, 255, 0.7);
      fill: rgba(255, 255, 255, 0.7);
      font-size: 1rem;
      font-weight: 600;
      cursor: pointer;
  }
  
  .trending ul {
      display: flex;
      list-style: none;
      justify-content: flex-start;
      gap: 8px;
      color: #fff;
  }
  
  .trending ul li a {
      color: #fff;
      fill: #fff;
      font-size: 1rem;
      font-weight: 600;
  }
  
  .trending ul li a:hover {
      opacity: 0.7;
  }
  /* Main Section */
  
  .btn-center {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
  }
  
  .btn-center button {
      padding: 12px 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      border-radius: 25px;
      color: #4a4a4a;
      font-size: 1rem;
      border: 1px solid #f7f7f7;
      background: #f7f7f7;
      cursor: pointer;
      margin-bottom: 30px;
      transition: all 0.3s ease-in-out;
  }
  
  .btn-center button:hover {
      color: #1a1a1a;
  }
  
  #button.active {
      background-color: #000;
      color: #fff;
  }
  
  .free-stock-flex {
      margin-bottom: 30px;
  }
  
  .free-stock-flex h3 {
      color: #2c343e;
      font-size: 1.5rem;
      font-weight: 600;
      fill: #2c343e;
      margin-top: 13px;
  }
  /* random homepage photos section */
  
  .photos-area-random {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
  }
  
  .photos-area-random .divs-flex {
      flex: 1 1 30%;
      /*grow | shrink | basis */
  }
  
  .divs-flex {
      background-color: #fff4e6;
      margin-right: 23px;
      cursor: pointer;
  }
  /* Responsive Media Queries */
  
  @media (max-width: 900px) {
      header {
          height: 50vh;
          max-height: 80vh;
      }
      .listing-upper {
          height: 9vh;
          min-height: 50px;
      }
      .p-classes-search-input {
          padding-top: 70px;
      }
  }
  
  @media (max-width: 1000px) {
      header {
          height: 60vh;
          max-height: 60vh;
      }
      .listing-upper {
          height: 12vh;
      }
      .p-classes-search-input {
          padding-top: 70px;
      }
  }
  
  @media (max-width: 600px) {
      header {
          height: 70vh;
          max-height: 70vh;
      }
      .listing-upper {
          height: 12vh;
      }
      .p-classes-search-input {
          padding-top: 50px;
          padding-left: 18px;
      }
      .p-classes-search-input h1 {
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 2rem;
      }
      .top-nav {
          padding: 0 10px;
      }
      .upper-bar span {
          font-size: 1.2rem;
      }
  }
  
  @media (max-width: 450px) {
      header {
          height: 60vh;
          max-height: 60vh;
      }
      .listing-upper {
          height: 12vh;
      }
      .p-classes-search-input {
          padding-top: 50px;
          padding-left: 18px;
      }
      .p-classes-search-input h1 {
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 2rem;
      }
      .top-nav {
          padding: 0 10px;
      }
      .upper-bar span {
          font-size: 1.2rem;
      }
      .btn-center {
          width: 100%;
      }
      .btn-center button {
          padding: 0px 20px;
      }
  }